
.bookmarks-width {
    width: 78% !important;
}
.created__wrapper {
    transition: .3s ease all;
    max-height: 600px;
    z-index: -1;
    opacity: 0;
    width: 400px;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    top: 50%;
    background-color: var(--background-color-app);
    padding: 20px;
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%, -60%);
}
.created__wrapper.actived {
    opacity: 1;
    z-index: 21;
}

.created__form {
    display: flex;
    color: var(--text);
    flex-direction: column;
}

.created__form input {
    border-radius: 20px;
    padding: 10px;
    background-color: var(--created-form);
    color: var(--text);
    border: 1px solid var(--created-form);
    outline: none;
    margin: 5px;
}

.created__form button {
    padding: 7px;
    margin-top: 60px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #7460f785;
    color: #000;
    font-weight: 600;
    transition: 0.3s ease all;
}
.created__form button:first-child {
    margin-top: 0;
}
.created__form button:hover {
    background-color: var(--theme-color-second);
}
.addTodo {
    width: 50%;
    font-size: 13px;
}