.settings__center {
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 100%;
}
.settingsItem {
    background-color: var(--settings-item);
    border: var(--border);
    padding: 20px;
    width: 54%;
}
.settings__buttons {

    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.settings__buttons button {
    width: 100%;
    z-index: 1;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color-app);
    border: 1px var(--settings-buttons) solid;
    color: var(--text);
    cursor: pointer;
}
.settings__buttons button .arrow {
    position: absolute;
    top: 10px;
    right: 30%;
    transition: 0.3s ease all;
}
.rotate {
    transform: rotate(-180deg);
}
.settings__buttons button:last-child {
    margin-top: 30px;
    color: var(--theme-color-second);
}
.settings__user {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--background-color-app);
    border: 1px solid var(--border);
    padding: 40px 20px 20px 20px;
    border-radius: 20px;
    color: var(--text);
}
.settings__status {
    font-size: 14px;
    margin-top: 7px;
    color: var(--grey-color-text-opacity);
}
.settings__id {
    position: absolute;
    top: 25px;
}
.settings__id span {
    color: var(--theme-color-second);
}
.settings__info {
    font-size: 12px;
    margin-top: 6px;
    color: var(--theme-color-second);
}
.settings__show-accordion {
    transform: translateY(-9px);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: var(--settings-buttons) 1px solid;
}
.setStatusContacts {
    position: relative;
    transform: translate(-80px, 20px);
}
.setStatusContacts svg {
    position: absolute;
    top: 5px;
    right: 5px;
    fill: var(--theme-color-second);
    cursor: pointer;
    transition: .3s ease all;
}
.setStatusContacts svg:hover {
    fill: black;
}
.email__show {
    display: flex;
    justify-content: center;
    color: var(--logo-rease);
}
.settings__show-accordion {
    background-color: var(--settings-show-accordion);
    transition: 0.3s ease all;
    height: 0;
}
.show-accordion {
    height: 200px;
    padding:20px;
    overflow: auto;
}
.show-accordion-email {
    height: 50px;
}
.acardion__item {
    overflow: hidden;
}
.dialog__item {
    padding: 0 10px 10px 10px;
}
.noneAccordion {
    color: var(--text);
    margin-top: 30px;
    text-align: center;
}
.noneViewProfile {
    text-decoration: none;
}
.ml-1 {
    margin-left: 10px;
}
.confirm__exit-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--confirm-exit);
    z-index: 20;
    cursor: pointer;
}
.wrapper__confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: var(--background-color-app);
    color: var(--text);
    padding: 20px;
    display: flex;
    opacity: 0;
    z-index: -9;
    flex-direction: column;
    transition: .3s ease all;
}
.wrapper__confirm.wrapper__confirm-open {
    z-index: 21;
    opacity: 1;
}
.wrapper__confirm button {
    width: 100%;
    padding: 5px 10px 10px 10px;
    border-radius: 20px;
    border: none;
    background-color: var(--wrapper-confirm-btn);
    color: #7460f7;
    cursor: pointer;
}
.close__alert {
    color: #7460f7;
    cursor: pointer;
    font-size: 13px;
}